{{ define "main" }}
<div class="list__container container__trockson" >
<div class="page__wrapper trockson">
    <h1 class="trockson__title trockson__title_actu">Actu Trock'Son</h1>
    {{ $posts := where .Site.RegularPages "Section" "trockson" }} {{ $sortedPosts
    := $posts.ByParam "event_time" }} {{ $paginatorAgenda := .Paginate
    $sortedPosts 2 }} {{ range $paginatorAgenda.Pages }}
    <div class="actu__wrapper trockson__actu_wrapper">
      <div class="actu__description trockson__description">
        {{ .Description }}
      </div>
      {{ $image := resources.Get .Params.cover }} {{ $image := $image.Fill
      "365x200 Top" }}
      <img class="actu__cover" src="{{ $image.RelPermalink }}" />
      {{ $imageDesktop := resources.Get .Params.cover }} {{ $imageDesktop :=
      $imageDesktop.Fill "300x300 Top" }}
      <img class="actu__cover_desktop" src="{{ $imageDesktop.RelPermalink }}" />
      <div class="actu__content">
        <h2>{{ .Title }}</h2>
        <p>
          {{ .Summary | truncate 160 }} [<a href="{{ .RelPermalink }}">...</a>]
        </p>
      </div>
      <div class="actu__footer">
        <div class="actu__infos">
          <span class="actu__lieu">{{ .Params.lieu }}</span>
          {{ .Params.event_time | time.Format ":date_medium" }} {{
          .Params.event_time | time.Format ":time_short" }}
        </div>
        <div class="actu__footer-price">
          {{ if (and (isset .Params "prix_plein") (isset .Params "prix_abonné"))
          }}
          <span class="actu__prix"
            ><span class="actu__indice">*</span>{{ .Params.prix_plein }}€ / {{
            .Params.prix_abonné }}€</span
          >
          <span class="actu__legende">* Non adhérents / adhérents</span>
          {{ end }}
        </div>
        <div>
          <a href="{{ .RelPermalink }}">> En savoir plus</a>
        </div>
      </div>
    </div>
    {{ end }} {{ template "_internal/pagination.html" . }}

  <div class="page__wrapper trockson trockson__top">
    <div class="page__trockson_content">
      <h1 class="trockson__title">{{ .Title }}</h1>
      <div class="trockson__wrapper">
        <div>
          <div class="trockson__box">
            <img
              class="trockson__logo"
              src="/images/trockson/trockson-logo.png"
              alt="Trock'son MJC Morlaix Musiques Actuelles"
            />
          </div>
          <hr class="trockson__hr" />
          <p class="trockson__hours">
            lundi au vendredi
            <br />
            10h-12h / 14h-18h
            <br />
            samedi
            <br />
            10h-12h / 14h-17h30
          </p>
          <div class="trockson__social">
            <a href="https://www.facebook.com/trock.son">
              <img
                class="trockson__social_icon"
                src="/images/trockson/facebook.png"
                alt="Facebook Trockson"
              />
            </a>
            <a href="https://twitter.com/MJC_Morlaix">
              <img
                class="trockson__social_icon"
                src="/images/trockson/twitter.png"
                alt="Twitter MJC"
              />
            </a>
            <a href="https://www.instagram.com/mjcmorlaix/">
              <img
                class="trockson__social_icon"
                src="/images/trockson/instagram.png"
                alt="Instagram Trockson"
              />
            </a>
          </div>
          <hr class="trockson__hr trockson__hr_mobile" />
        </div>
        <div class="trockson__info">
          <h2 class="trockson__h2">
            Trock’son…
            <span class="trockson__blue">36 années « passion musique »</span>
          </h2>
          <p class="trockson__text">
            <strong
              >Des studios de répétition et de création musicale ouvert à
              tous</strong
            >
            à partir de 14 ans, mais aussi un centre de ressources et des
            conseils pour développer son projet artistique en lien avec les
            Musiques Actuelles, Urbaines et Amplifiées !
          </p>
          <h3 class="trockson__h3">
            Trock’Son accueille et accompagne les musiciens amateurs dans le
            développement de leurs projets :
          </h3>
          <ul class="trockson__text">
            <li>
              Local de répétition équipé (sonorisation, amplis, batterie).
            </li>
            <li>Local MAO avec station d’enregistrement.</li>
            <li>
              Stages techniques (enregistrement, mixage, sonorisation,
              chant...).
            </li>
            <li>Enregistreur portable numérique Zoom H4.</li>
            <li>Organisation de concerts, rencontres artistiques.</li>
          </ul>
          <br />
          <p class="trockson__text">
            Votre parcours musical en solo ou en groupe : venez échanger avec
            nous sur vos besoins et vos envies.
          </p>
          <div>
            <img
              class="trockson__photo_desktop"
              src="/images/trockson/trockson-ewan.jpg"
              alt=""
            />
          </div>
          <br />
          <p class="trockson__text">
            Le dispositif Trock’son vise le développement des pratiques
            musicales sur le territoire de Morlaix Communauté, tant dans le
            domaine de l’accompagnement et de la formation des adhérents que
            dans le domaine de la création et de la diffusion de ces pratiques.
            A travers les actions mises en place et l’animation du dispositif,
            il s’agit avant tout de favoriser l’épanouissement de chacun,
            l’acquisition de compétences, le développement d’une autonomie
            responsable et citoyenne.
          </p>
          <br />
          <p class="trockson__text">
            En plaçant les usagers dans une posture participative, en leur
            permettant d’être acteurs de leurs pratiques, les principaux
            objectifs visés par la MJC sont bien la valorisation des individus,
            leur responsabilisation, à travers une posture pédagogique liée aux
            valeurs de l’éducation permanente.
          </p>
          <br />
          <p class="trockson__text">
            C’est donc en miroir avec la mission première de la MJC que l’espace
            Musiques Actuelles accompagne les jeunes dans un esprit de
            construction collective, à travers l’action, l’imaginaire, le
            plaisir, le vécu propre à chacun.
          </p>
          <div>
            <img
              class="trockson__photo"
              src="/images/trockson/trockson-ewan.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="trockson__wrapper">
        <div class="trockson__parent">
          <div class="trockson__text_left">
            <h3 class="trockson__h3">
              Trock’Son: un lieu de rencontres, d’échanges, de diversités
            </h3>
            <p class="trockson__text">
              <strong
                >Le dispositif Trock'son est un espace Musiques
                Actuelles</strong
              >
              accueillant la diversité musicale des différents adhérents, qu'ils
              soient novices ou confirmés. Cet espace de création et
              d’expérimentation a vu le jour en 1986, à l’initiative de jeunes
              du territoire et de l’équipe de la MJC d’alors. Depuis, Trock’Son
              s’est forgé une identité certaine, participant à l’animation du
              territoire, aux brassages des identités et des publics.
            </p>
            <br />
            <p class="trockson__text">
              Le projet d’animation du dispositif met en avant son caractère
              intergénérationnel et ouvert à toutes les esthétiques (métal, rock
              garage, rock celtique, pop, variété française, rap, jazz, punk…)
              avec une volonté de confronter les générations, les pratiques, les
              expériences.
            </p>
            <br />
            <p class="trockson__text">
              Trock’Son rassemble les musiciens de Morlaix Communauté de 14 à 77
              ans (et plus si affinité). Les activités, animations, projets
              socioculturels mis en œuvre ont à cœur de s’adresser à l’ensemble
              de ces publics et de leur permettre de se rencontrer, d’échanger,
              de faire ensemble.
            </p>
            <h3 class="trockson__h3">
              Trock’Son : un couteau suisse couleur « Educ Pop’ »
            </h3>
            <p class="trockson__text">
              <strong>Comme dans une grande boite à outils</strong>, Trock’son
              soutient autour du studio de répétition, un espace de création,
              d’information, de formation et d’expression des jeunes - et des
              moins jeunes - dans une perspective d’éducation populaire.
            </p>
            <p class="trockson__text">
              L’espace Trock’son, ainsi investi, peut créer les conditions d’une
              dynamique collective jeunesse « positive » sur le territoire de
              Morlaix Communauté, reflétant la richesse et les diversités des
              pratiques.
            </p>
            <br />
            <p class="trockson__text">
              <strong>Le public</strong> : musiciens débutants ou confirmés,
              jeunes et adultes, à partir de 14 ans.
            </p>
            <p class="trockson__text">
              <strong>Conditions</strong> : être adhérent à la MJC et cotisation
              Trock’son à jour (<strong>15 €</strong>) pour l’année.
            </p>
          </div>
          <div class="trockson__imgs">
            <div class="trockson__img_1">
              <img
                class="trockson__img"
                src="/images/trockson/trockson-groupe.jpg"
                alt=""
              />
            </div>
            <div class="trockson__img_2">
              <img
                class="trockson__img"
                src="/images/trockson/trockson-uglyboi.jpg"
                alt=""
              />
            </div>
            <div class="trockson__img_3">
              <img
                class="trockson__img"
                src="/images/trockson/trockson-concert.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
{{ end }}
