{{ define "main" }}
<div class="page__wrapper">
  <div class="page__jeunesse_content">
    <h1>{{ .Title }}</h1>
    <p><strong>La SIJ (Structure d'information jeunesse) est un lien ressource qui a pour mission d'informer, d’accompagner  
et d’orienter les jeunes de 11 à 30 ans sur différentes thématiques, de manière gratuite et
anonyme.</strong></p>

    <h3>Les 11 thématiques de l'IJ :</h3>
    <ul>
     <li>Construire son parcours (orientation, formation)</li> 
     <li>Travailler (jobs d’été, recherche de stages ou d’emploi, accompagnement dans la rédaction d’un CV et d’une lettre de motivation...)</li> 
     <li>Se loger</li> 
     <li>S'engager</li> 
     <li>Se distraire</li> 
     <li>Partir à l'étranger</li> 
     <li>Prendre soin de soi</li> 
     <li>Entreprendre</li> 
     <li>Se déplacer</li> 
     <li>Aprrendre à s'informer</li> 
     <li>Accéder à ses droits</li> 
    </ul>
    <h3>La SIJ organise de nombreuses actions d’animation de l’information tout au long de l’année à la MJC :
    </h3>
    <div class="page__ij_wrapper1">
      <p>Ateliers jobs d’été, ateliers sur le bien-être, formation baby-sitting, forum...
Elle intervient également en « aller vers » … dans les différents établissements scolaires du territoire,
les structures partenaires ou sur les lieux de vie des jeunes par le biais du camion info jeunes.</p>
      <div>
        <img
          class="page__ij_logo"
          src="/images/ij/ij-logo.png"
          alt="Info Jeunes Eplorer les possibles"
        />
      </div>
    </div>
    <div class="page__ij_wrapper">
      <div class="page__ij_text">
        <div>
          <img
            class="page__ij_imgdesktop"
            src="/images/ij/ij-camion-1.png"
            alt=""
          />
          <img
            class="page__ij_imgdesktop"
            src="/images/ij/ij-camion-2.png"
            alt=""
          />
        </div>
        <h3>La SIJ est également « la porte d’entrée » de plusieurs dispositifs du territoire : </h3>
	<ul>
	<li>Sac Ados : accompagnement et aide financière pour les jeunes de 16 à 22 ans souhaitant partir en
	vacances en autonomie</li>
	<li>Les bourses « On s’lance » et « bourse projets jeunes Morlaix Communauté » </li>
	<li>Le Parcours d’Engagement Citoyen : Parcours permettant aux jeunes d’être financé et accompagné pour passer leur BAFA en contrepartie de bénévolat sur le territoire</li>
      </ul>
        <h3>Nous vous accueillons à la MJC le mercredi et vendredi de 9h30 à 12h30 et de 14h à 18h.</h3>
        <p>
          <strong>Pour un RDV en dehors de ces horaires</strong>, n’hésitez pas à nous contacter au
          <a href="tel:0298880994">02 98 88 09 94</a>, sur <a href="https://www.facebook.com/p/Info-Jeunes-Morlaix-100066535867916/">facebook</a>, <a href="https://www.instagram.com/audreyinfojeunesmorlaix/">instagram</a>
	  ou par mail <a href='mai&#108;t&#111;&#58;%69%6E&#102;%6F&#46;jeu%6Eess%6&#53;&#64;&#109;j%63%6&#68;o&#114;&#108;a&#105;&#120;&#46;co&#109;'>&#105;n&#102;o&#46;je&#117;n&#101;sse&#64;mjc&#109;o&#114;lai&#120;&#46;com</a>
        </p>
      </div>
            </div>
      <div class="page__ij_imgmobile">
        <img class="page__ij_img" src="/images/ij/ij-camion-1.png" alt="" />
      </div>
      <hr class="hr__ij" role="presentation">
      <div class="page__ij_socials">
        <p>
          Retrouvez-nous sur les réseaux sociaux pour les prochains rendez-vous
          dans votre secteur.
        </p>
        <div class="page__ij_logos">
          <a
            href="https://www.facebook.com/p/Info-Jeunes-Morlaix-100066535867916/"
            ><img src="/images/ij/ij-fb.png" alt="" />
            <span class="sr-only">Facebook infos jeunes</span>
          </a>
          <a href="https://www.instagram.com/audreyinfojeunesmorlaix/"
            ><img src="/images/ij/ij-insta.png" alt="" /><span class="sr-only"
              >Instagram infos jeunes</span
            >
          </a>
          <div>
            <a href="mailto:info.jeunesse@mjcmorlaix.com"
              >info.jeunesse@mjcmorlaix.com</a
            >
            / <a href="tel:0298880994">02 98 88 09 94</a>
          </div>
        </div>

    </div>
  </div>
</div>
{{ end }}
