{{ define "main" }}
<div class="page__wrapper">
  <div class="page__jeunesse_content">
    <h1>{{ .Title }}</h1>
    <div class="page__ij_wrapper1">
      <p>
        <strong
          >Le Point « Info Jeunes » est un espace d’accueil, anonyme et
          gratuit</strong
        >, ouvert à toutes et tous et plus particulièrement aux 13/25 ans. C’est
        un espace ressource permettant aux jeunes de s’informer ou de vérifier
        des informations, sur place, à la MJC, aux horaires  d’ouverture ou sur
        rendez-vous, à Morlaix et sur le territoire de Morlaix Communauté avec
        le CAMION, pour aller à la rencontre des jeunes.
      </p>
      <div>
        <img
          class="page__ij_logo"
          src="/images/ij/ij-logo.png"
          alt="Info Jeunes Eplorer les possibles"
        />
      </div>
    </div>
    <div class="page__ij_wrapper">
      <div class="page__ij_text">
        <img
          class="page__ij_imgdesktop"
          src="/images/ij/ij-camion.jpg"
          alt="Le Camion Source Info"
        />
        <h2>De l'information</h2>
        <ul>
          <li>
            Sur des thématiques variées : études, métiers, emplois et jobs,
            mobilité internationale, logement, loisirs, santé...
          </li>
          <li>De la documentation pratique et mise à jour</li>
          <li>
            Des animations collectives, ateliers thématiques, interventions dans
            les établissements scolaires et structures jeunesse du territoire
          </li>
        </ul>
        <h2>De l'accompagnement</h2>
        <ul>
          <li>
            Dans la réalisation de projets personnels (recherche d’emploi,
            rédaction de CV et lettre de motivation, partir à l’étranger,
            BAFA...)
          </li>
          <li>
            Dans le montage de projets collectifs (projets tutorés scolaires,
            rédaction de documents, recherche de financements)
          </li>
        </ul>
        <h2>Les + du PIJ de Morlaix</h2>
        <ul>
          <li>
            Accompagnement et soutien aux projets de jeunes via les dispositifs
            «Bourse Projet Jeunes de Morlaix Communauté / CAF du Finistère»
            «FLAIJ» ville de Morlaix et Projets jeunes en Finistère
          </li>
          <li>Parcours d’Engagement Citoyen</li>
          <li>Accompagnement à la création de Junior-Associations</li>
          <li>
            Temps forts tout au long de l’année : des forums jeunesse, des
            animations lors d’événements locaux et des projets accompagnés et
            créés à l’initiative de jeunes
          </li>
        </ul>
      </div>
      <div class="page__ij_imgmobile">
        <img
          class="page__ij_img"
          src="/images/ij/ij-camion.jpg"
          alt="Le Camion Source Info"
        />
      </div>
    </div>
  </div>
</div>
{{ end }}
