{{ define "main" }}
<div class="page__wrapper">
  <div class="page__jeunesse_content">
    <h1>{{ .Title }}</h1>
    <h2>
      La SIJ (Structure Info Jeunes) est un lieu ressource qui a pour mission
      d’accompagner les jeunes
    </h2>
    <div class="page__ij_wrapper1">
      <p>
        (de 13 à 29 ans principalement) pour trouver des informations sur
        l’ensemble des sujets qui les concernent ou les intéressent : la vie
        quotidienne, les études/formations, le BAFA, les loisirs, la santé, le
        logement, ... ou encore pour trouver un job d’été ou un emploi, une
        ouverture à la mobilité internationale...
      </p>
      <div>
        <img
          class="page__ij_logo"
          src="/images/ij/ij-logo.png"
          alt="Info Jeunes Eplorer les possibles"
        />
      </div>
    </div>
    <div class="page__ij_wrapper">
      <div class="page__ij_text">
        <div>
          <img
            class="page__ij_imgdesktop"
            src="/images/ij/ij-camion-1.png"
            alt=""
          />
          <img
            class="page__ij_imgdesktop"
            src="/images/ij/ij-camion-2.png"
            alt=""
          />
        </div>
        <h2>La SIJ peut également accompagner les jeunes dans leurs projets</h2>
        <p>
          (personnel, de départ en vacances, via les dispositifs existants sur
          le territoire...)
        </p>
        <br />
        <ul>
          <li>
            Vous y serez  informés de manière anonyme et gratuite sur toutes les
            thématiques qui peuvent vous intéresser.
          </li>
          <li>
            <strong>L’information en action</strong> : Le SIJ anime
            l’information et organise des actions sur différents thèmes tout au
            long de l’année à la MJC, dans les établissements scolaires ou de
            formation, dans des structures partenaires ou par le biais du camion
            info jeunes. Un CAMION spécialement aménagé se déplace sur Morlaix
            Commuanuté pour aller au plus près des jeunes, dans les communes
            permettant ainsi un accès égal à l’information pour toutes et tous.
          </li>
        </ul>
        <h2>
          Nous accueillons tous les jeunes anonymement et gratuitement à la MJC
        </h2>
        <ul>
          <li><strong>Le mercredi</strong> 9h30 à 12h30 / 14h à 18h</li>
          <li><strong>Le vendredi</strong> 9h30 à 12h30 / 14h à 18h</li>
        </ul>
        <p>
          <strong>Pour un RDV en dehors de ces horaires</strong>, n’hésitez pas
          à contacter l’animatrice au
          <a href="tel:0298880994">02 98 88 09 94</a>
        </p>
      </div>
            </div>
      <div class="page__ij_imgmobile">
        <img class="page__ij_img" src="/images/ij/ij-camion-1.png" alt="" />
      </div>
      <hr class="hr__ij" role="presentation">
      <div class="page__ij_socials">
        <p>
          Retrouvez nous sur les réseaux sociaux pour les prochains rendez-vous
          dans votre secteur.
        </p>
        <div class="page__ij_logos">
          <a
            href="https://www.facebook.com/p/Info-Jeunes-Morlaix-100066535867916/"
            ><img src="/images/ij/ij-fb.png" alt="" />
            <span class="sr-only">Facebook infos jeunes</span>
          </a>
          <a href="https://www.instagram.com/audreyinfojeunesmorlaix/"
            ><img src="/images/ij/ij-insta.png" alt="" /><span class="sr-only"
              >Instagram infos jeunes</span
            >
          </a>
          <div>
            <a href="mailto:info.jeunesse@mjcmorlaix.com"
              >info.jeunesse@mjcmorlaix.com</a
            >
            / <a href="tel:0298880994">02 98 88 09 94</a>
          </div>
        </div>

    </div>
  </div>
</div>
{{ end }}
