{{ define "main" }}
<div class="page__wrapper">
  <div class="page__mjc_content">
    <h1>{{ .Title }}</h1>
    <h2>La mission de la MJC</h2>
    <p>
      <strong>Riche de son histoire sur plus de 60 années d’existence</strong>,
      la Maison des Jeunes et de la Culture de Morlaix existe pour, avec et par
      ses adhérents.
    </p>
    <p>
      Elle pose et promeut la valeur de l’engagement comme un indispensable à la
      vie en société. Elle la travaille à travers ses démarches éducatives et
      pédagogiques.
    </p>
    <p>
      Humaniste, ouverte à Toutes et tous, elle réaffirme sa volonté de
      transversalité entre les pratiques et les personnes, de croisements des
      générations et de toutes les cultures.
    </p>
    <p>
      Elle apporte de la vie, de l’envie, du désir, de la bienveillance, de
      l’échange, de la rencontre, de l’ouverture culturelle…
    </p>
    <p>
      La notion de culture fait forcément référence au passé (comme somme
      d’accumulation de productions et connaissances pour enrichir, inspirer ce
      qui se vit au présent qui lui-même construit notre futur).
    </p>
    <br />
    <p>
      <strong
        >Pour cela et pour son attention particulière portée à la
        jeunesse</strong
      >, la MJC de Morlaix est par essence un creuset intergénérationnel. Elle
      se veut être un vecteur permettant la construction et la transmission de
      savoirs, savoirs-être et savoirs-faire.
    </p>
    <p>
      Elle favorise la curiosité, le respect de l’autre, l’engagement citoyen,
      le développement de chacun, des valeurs fondamentales qui devraient être
      d’avantage mises en valeur par notre modèle de société.
    </p>
    <h2>
      À la MJC, <span class="page__mjc_yellow">qu’est-ce qu’on y fait ?</span>
    </h2>
    <div class="page__mjc_flex">
      <div>
        <img class="page__mjc_img" src="/images/mjc/mjc-theatre.jpg" alt="" />
      </div>
      <div>
        <p>
          <strong>La MJC se situe ici comme proposant le pas de côté</strong>,
          la possibilité de confronter des réalités, des représentations, des
          points de vue. Elle se veut un lieu de libre expression ouverte aux
          débats.
        </p>
      </div>
    </div>
    <div class="page__mjc_flex">
      <div>
        <img class="page__mjc_img" src="/images/mjc/mjc-danseurs.jpg" alt="" />
      </div>
      <div>
        <p>
          <strong>C’est un lieu d’expérimentation et de transformation</strong>
          qui consacre une attention particulière au public jeunesse et à
          l’éveil à la conscience citoyenne en s’appuyant sur un esprit de
          convivialité, au travers de l’axe privilégié de l’action et de la
          médiation culturelle.
        </p>
      </div>
    </div>
    <div class="page__mjc_flex">
      <div>
        <img class="page__mjc_img" src="/images/mjc/mjc-debats.jpg" alt="" />
      </div>
      <div>
        <p>
          <strong>Elle a à cœur la notion d’accueil</strong> : que tout le monde
          se sente chez soi à la MJC.
        </p>
      </div>
    </div>
    <div class="page__mjc_wrapper">
      <div class="page__mjc_historic">
        <h2>Un peu d'histoire</h2>
        <p>
          Créée en février <strong>1959</strong>, la MJC est d’abord implantée
          dans l’espace Philippot rue Ange de Guernisac (centre-ville).
        </p>
        <p>
          La MJC est d’abord dirigée par Monique Jerphanion, de
          <strong>1960 à 1963</strong>.
        </p>
        <p>
          En <strong>1964</strong> la MJC intègre les locaux de la place du
          Dossen (un ancien hôtel/dancing dénommé La Renaissance).
        </p>
        <p>
          En <strong>1969</strong> arrive Claude Bonnard qui y sera directeur
          jusqu’en 2007.
        </p>
        <p>En <strong>1972</strong> est créé un poste de secrétaire.</p>
        <p>
          En <strong>1974</strong>  la MJC lance la programmation culturelle.
        </p>
        <p>En <strong>1976</strong> est créé un poste d’animateur.</p>
        <p>
          En <strong>1981</strong> c’est la création du Point Information
          Jeunesse (PIJ).
        </p>
        <p>
          En <strong>1983</strong> se crée une seconde MJC à Morlaix : c’est la
          MPT du Plateau qui intégrera un cinéma (La Salamandre).
        </p>
        <p>
          <strong>1986</strong> : création du local de répétition Trock’son
          (dans l’ancien local de sérigraphie)
        </p>
        <p>
          <strong>1989 à 91</strong> : procédure de fermeture de la MJC du
          Plateau
        </p>
        <p>
          <strong>1997-98</strong> : Travaux de mise aux normes incendie du
          bâtiment de la MJC
        </p>
        <p>
          De <strong>2007 à 2014</strong>, Anne-Marie Noret est à la direction
          de la MJC.
        </p>
        <p>En mai <strong>2014</strong>, Eric Even lui succède.</p>
      </div>
      <div>
        <img
          class="page__mjc_ext"
          src="/images/mjc/mjc.jpg"
          alt="MJC Maison des Jeunes et de la Culture"
        />
      </div>
    </div>
  </div>
</div>
{{ end }}
