{{ define "main" }}
<div class="page__wrapper">
  <div class="page__documents_content">
    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</p>
  </div>
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "documents") 4
  }} {{ range $paginator.Pages.ByDate }}
  <div class="page__documents_docs">
    <div class="page__documents_left">
      <strong>{{ .Title }}</strong> {{ .Params.saison }}
    </div>
    <div class="page__documents_middle">
      {{ $file := resources.Get .Params.file }}
      {{ with $file }}
      <a href="{{ $file.RelPermalink }}">PDF</a>
      {{ else }}
      <p>Ce document n'est plus disponible</p>
      {{ end }}
    </div>
    <div class="page__documents_right">
      {{ $image := resources.Get .Params.picto }}
      {{ with $file }}
      <a href="{{ $file.RelPermalink }}">
        <img src="{{ $image.RelPermalink }}" alt="fichier {{ $file }}" />
      </a>
      {{ end }}
    </div>
  </div>
  {{ end }} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
