.homepage__title {
  color: $blue;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

.homepage__content {
  color: $teal-dark;
  margin: 0.8rem;
  padding: 1.5rem 0;
}

.homepage__title + p {
  margin-top: 0;
}
