/* General */

.page__wrapper {
  margin: 9rem 0.4rem;

  h1 {
    font-size: 3rem;
  }
  p {
    padding: 0.4rem 0;
  }
}

.page__wrapper_single {
  img {
    max-width: 100vw;
  }

  h1 {
    margin-top: -3rem;
  }

  h1,
  h2 {
    padding: 1rem 0;
  }
  ul {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

/* MJC */

.page__mjc_content {
  width: 360px;
  margin: auto;
  h1 {
    color: #d0ecbf;
    text-transform: uppercase;
    padding: 0.8rem 0;
  }
  h2 {
    color: #6ab535;
    padding: 0.6rem 0;
  }
  h3 {
    color: #d0922c;
    padding: 0.4rem 0;
  }
}

.page__mjc_ext,
.page__mjc_img {
  max-width: 340px;
  padding: 0.8rem 0;
  display: block;
  margin: auto;
}

.page__mjc_yellow {
  color: #d0922c;
}

.page__mjc_wrapper {
  border: 1px solid #2e3e57;
  padding: 0.2rem;
}

/* Jeunesse */

.page__jeunesse_content {
  h1 {
    color: #a8a4cb;
    text-transform: uppercase;
    padding: 0.8rem 0;
  }
  h2 {
    color: #90a4cb;
    padding: 0.6rem 0;
  }
  h3 {
    color: #ec976b;
    padding: 0.4rem 0;
  }
  ul {
    margin-left: 1rem;
  }
}

.page__ij_logo,
.page__ij_img {
  max-width: 95vw;
  padding: 0.8rem 0;
}

/* Contact */

.page__contact_content {
  h1 {
    color: #e1dbc1;
    text-transform: uppercase;
    padding: 0.8rem 0;
  }
  h2 {
    color: #cec495;
    padding: 0.6rem 0;
  }
  h3 {
    color: #23a368;
    padding: 0.4rem 0;
  }
}

/* TrockSon */

.trockson {
  margin: 0;
  margin-top: -2rem;
}

.container__trockson {
  margin-bottom: 0rem;
}

.trockson__title {
  margin-top: 6rem;
}

.trockson__title_actu {
  margin-top: 0rem;
}

.page__trockson_content {
  padding: 0 0.5rem;

  h1 {
    color: #f4ad85;
    text-transform: uppercase;
  }
  h2 {
    color: #ea5b0c;
  }
  h3 {
    color: #7b9aaf;
  }
}

/* Agenda */

.page__agenda_content {
  padding: 0 0.5rem;
  h1 {
    color: #fcdd9b;
    text-transform: uppercase;
    padding: 0.8rem 0;
  }
  h2 {
    color: #f8ad13;
    padding: 0.6rem 0;
  }
  h3 {
    color: #6299de;
    padding: 0.4rem 0;
  }
}

.agenda__header {
  strong {
    color: #fba303;
    font-size: 1.6rem;
  }
}

.agenda__wrapper {
  margin-top: 1.6rem;
  border: 1px solid #2e3e57;
  max-width: 344px;
  margin-left: auto;
  margin-right: auto;
}

.agenda__middle {
  padding: 1rem;
  position: relative;
  .agenda__more {
    position: absolute;
    bottom: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    color: #3e6b6c;
    font-weight: bolder;
  }
  p:first-line {
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 2rem;
  }
  .agenda__more {
    padding-top: 1rem;
    text-align: right;
  }
}

.agenda__right {
  background-color: #fba303;
  padding: 1rem;
  .agenda__right_desc {
    color: #243a4e;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .agenda__right_place {
    padding: 1rem 0;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .agenda__right_date {
    color: #243a4e;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  .agenda__prix {
    color: #243a4e;
    font-weight: bold;
  }
  .agenda__indice,
  .agenda__legende {
    color: white;
  }
}

.agenda__wrapper:nth-child(even) > .agenda__right {
  background-color: #3cabe2;
}

/* Actu */

.page__actu_content {
  h1 {
    color: #badca5;
    text-transform: uppercase;
    padding: 3.8rem 0;
  }
  h2 {
    color: #82c345;
    padding: 0.6rem 0;
  }
  h3 {
    color: #ec976b;
    padding: 0.4rem 0;
  }
}

/* Activités */

.page__activites_content {
  padding: 0 0.5rem;
  h1 {
    color: #aad3f4;
    text-transform: uppercase;
    padding: 0.8rem 0;
  }
  h2 {
    color: #2c7ea2;
    padding: 0.6rem 0;
  }
  h3 {
    color: #d0922c;
    padding: 0.4rem 0;
  }
}

.activites__wrapper {
  margin-top: 1.6rem;
  border: 1px solid #2e3e57;
}

.activites__header {
  strong {
    font-size: 1.6rem;
  }
}

.activites__left {
  background-color: #f9ac1a;
  color: white;
  padding: 1rem;
  position: relative;
  min-width: 210px;
  h2 {
    font-size: 2rem;
  }
  img {
    padding: 1rem 0;
  }
  ul {
    list-style-type: none;
    text-align: right;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 1rem;
    bottom: 1rem;
    right: 1rem;
  }
}

.activites__wrapper:nth-child(even) > .activites__left {
  background-color: #39667d;
}

.activites__right {
  padding: 1rem;
  h1 {
    font-size: 1rem;
    color: #297db9;
  }
  p {
    padding: 0.4rem 0;
    color: #297db9;
    strong {
      color: #c90036;
    }
  }
  .activites_description {
    color: #44404c;
    &:first-line {
      font-weight: bold;
    }
  }
}
.activites__creneau {
  padding-top: 0.4rem;
  margin-bottom: 2rem;
}

.activites__anim,
.activites__day,
.activites__age {
  color: #297db9;
}

.activites__price,
.activites__hours {
  color: #c90036;
}

.activites__starting {
  color: #f89d00;
}

.activites__starting_date {
  color: #103586;
}

/* Documentation */

.page__documents_content {
  strong {
    font-size: 1.6rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #98d25f;
    padding: 0.8rem 0;
  }
  margin-bottom: 4rem;
}

.page__documents_docs {
  display: flex;
  font-size: 1.2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #8891a1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  &:last-child {
    border-bottom: none;
  }
}
.page__documents_left {
  width: 100vw;
}
.page__documents_middle {
  margin-top: 1rem;
  a {
    border-left: 4px solid #98d15f;
    padding-left: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #8891a1;
  }
}

.page__documents_right {
  margin-top: 1rem;
  img {
    width: 100px;
    height: auto;
  }
}

/* Trockson single */

.page__trockson {
  h1 {
    color: #f4ad85;
  }
  h2 {
    color: #ea5b0c;
  }
  h3 {
    color: #7b9aaf;
  }
}
