<!--Nav sidebar mobile-->
<nav class="nav__sidebar" id="nav__menu" aria-hidden="true">
  <button
    class="nav__button--close"
    id="close"
    aria-expanded="false"
    aria-haspopup="true"
    aria-controls="nav__menu"
    tabindex="-1"
  >
    ×
  </button>
  <div class="nav__wrapper">
    <ul id="nav__menu-focus">
      {{ range .Site.Menus.main }}
      <li class="nav__link nav__link-focus" tabindex="-1"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <a class="nav__podcasts nav__link-focus" tabindex="-1" href="/podcasts/"
      ><span class="sr-only">Podcasts</span></a
    >
    <a class="nav__documents nav__link-focus" tabindex="-1" href="/documents/"
      ><span class="sr-only">Documents</span></a
    >
  </div>
</nav>
