<header>
  <a href="#main" class="skip">Aller au contenu</a>
  <a href="#accessibility" class="skip">Aller aux paramètres d'accessibilité</a>
  <!--Mobile-->
  <div class="header__wrapper">
    <picture>
      <source type="image/avif" srcset="/images/header-mobile.avif" />
      <source type="image/webp" srcset="/images/header-mobile.webp" />
      <img
        class="header__banner"
        src="/images/header-mobile.png"
        alt=""
        aria-hidden="true"
      />
    </picture>
    <button
      class="header__button"
      id="open"
      aria-controls="nav__menu"
      aria-expanded="true"
    >
      ☰
    </button>
    <h1 class="header__title">
      <a href="{{ .Site.BaseURL }}"
        ><span class="header__title_white"
          >Maison <span class="header__title_light">des</span> Jeunes
          <span class="header__title_light">et de la</span>
          Culture </span
        ><span class="header__title_city">Morlaix</span></a
      >
    </h1>
    {{ partial "header/header-nav.html" . }}
  </div>
  <!--Desktop-->
  <div class="header__wrapper_desktop">
    <h1 class="header__title">
      <a href="{{ .Site.BaseURL }}">
        <span class="header__title_white"
          >Maison <span class="header__title_light">des</span> Jeunes
          <span class="header__title_light">et de la</span>
          Culture </span
        ><span class="header__title_city">Morlaix</span>
      </a>
    </h1>
    <!--Nav desktop-->
    <nav class="nav__desktop">
      <ul class="nav__menu">
        {{ $currentPage := . }} {{ range .Site.Menus.main }}
        <li class="nav__link">
          <a
            class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)
	}}nav__active{{end}}'
            href="{{ .URL }}"
            >{{ .Name }}</a
          >
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <div class="header__player">{{ partial "header/header-player.html" . }}</div>
</header>
