<!--Nav sidebar mobile-->
<nav class="nav__sidebar" id="nav__menu">
  <button
    class="nav__button--close"
    id="close"
    aria-expanded="true"
  >
    ×
  </button>
  <div class="nav__wrapper">
    <ul>
      {{ range .Site.Menus.main }}
      <li class="nav__link"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <a class="nav__podcasts" href="/podcasts/"
      ><span class="sr-only">Podcasts</span></a
    >
    <a class="nav__documents" href="/documents/"
      ><span class="sr-only">Documents</span></a
    >
  </div>
</nav>

<!--Nav desktop-->
<nav class="nav__desktop">
  <ul class="nav__menu">
    {{ $currentPage := . }} {{ range .Site.Menus.main }}
    <li class="nav__link">
      <a
        class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)
	}}nav__active{{end}}'
        href="{{ .URL }}"
        >{{ .Name }}</a
      >
    </li>
    {{ end }}
  </ul>
</nav>
