{{ define "main" }}
<div class="page__wrapper">
  <div class="page__agenda_content">
    <h1>{{ .Title }}</h1>
    <div class="agenda__header">
      <p>
        <strong
          >Découvrez toute la programmation de la saison culturelle de la
          MJC.</strong
        >
      </p>
      <p>
        En détails et par ordre chronologique, l'intégralité de la diffusion
        culturelle de la MJC: Concerts & spectacles, Conf'Rock, ciné-concerts,
        ciné-débat, Festi 'Blues... etc
      </p>
    </div>
    {{ $posts := where .Site.RegularPages "Section" "agenda" }} {{ $sortedPosts
    := $posts.ByParam "event_time" }} {{ $paginatorAgenda := .Paginate
    $sortedPosts 4 }} {{ range $paginatorAgenda.Pages }}
    <!-- If older than today hide content -->
    {{ $time := (.Params.event_time | time.AsTime).Unix }} {{ if lt now.Unix
    $time }}

    <div class="agenda__wrapper">
      <div class="agenda__left">
        <!--Cover mobile-->
        {{ $imageMobile := resources.Get .Params.cover }} {{ $imageMobile :=
        $imageMobile.Fill "342x342 Top" }}
        <img
          class="agenda__cover_mobile"
          src="{{ $imageMobile.RelPermalink }}"
          alt=""
        />
        <!-- Cover desktop -->
        {{ $image := resources.Get .Params.cover }} {{ $image := $image.Fill
        "300x300 Top" }}
        <img class="agenda__cover" src="{{ $image.RelPermalink }}" alt="" />
      </div>
      <div class="agenda__middle">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Summary | truncate 160}} [<a href="{{ .RelPermalink }}">...</a>]
        </p>
        <div class="agenda__more">
          <a href="{{ .RelPermalink }}">> En savoir plus</a>
        </div>
      </div>
      <div class="agenda__right">
        <p class="agenda__right_desc">{{ .Description }}</p>
        <p class="agenda__right_place">{{ .Params.lieu }}</p>
        {{ if isset .Params "first" }}
        <p class="agenda__right_firstpart">
          1<sup>ère</sup> partie : {{ .Params.first }}
        </p>
        {{ end }}
        <p class="agenda__right_date">
          {{ .Params.event_time | time.Format ":date_medium" }} / {{
          .Params.event_time | time.Format ":time_short"}}
        </p>
        <div class="agenda__footer-price">
          {{ if eq .Params.prix_libre true }}
          <span class="agenda__prix">Prix libre</span>
          {{ else }} {{ if (and (isset .Params "prix_plein") (isset .Params
          "prix_abonné")) }}
          <span class="agenda__prix"
            ><span class="agenda__indice">*</span>{{ .Params.prix_plein }}€ / {{
            .Params.prix_abonné }}€</span
          >
          <span class="agenda__legende">* Non adhérents / adhérents</span>
          {{ end }} {{ end }} {{ end }}
        </div>
      </div>
    </div>
    {{ end }} {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
