<!--Carousel Mobile-->
<div class="carousel__mobile">
  <div class="carousel__wrapper">
    {{ $paginatorCarou := .Paginate (where .Site.RegularPages "Section" "actu" )
     }} 
     {{ range ($paginatorCarou.Pages.ByParam "event_time") }}
    <!-- If older than today hide content -->
    {{ $time := (.Params.event_time | time.AsTime).Unix }} {{ if lt now.Unix
    $time }}

    <a class="carousel__link" href="{{ .RelPermalink }}">
      <div class="carousel__slide">
        <div class="carousel__event">
          {{ .Description }}
          <div class="carousel__event_place">{{ .Params.lieu }}</div>
          <div class="carousel__event_date">
            {{ .Params.event_time | time.Format ":date_medium" }}
            <span class="carousel__event_time"
              >{{ .Params.event_time | time.Format ":time_short" }}</span
            >
          </div>
        </div>
        <div class="carousel__title">
          <h1>{{ .Title }}</h1>
        </div>
        {{ $image := resources.Get .Params.cover }} {{ $image := $image.Fill
        "300x170 Top" }}
        <img src="{{ $image.RelPermalink }}" />
      </div>
    </a>
    {{ end }} {{ end }}
  </div>
</div>

<!--Carousel Desktop-->
<div class="carousel__desktop">
  <div class="carousel__wrapper">
    {{ range ($paginatorCarou.Pages.ByParam "event_time") }}
  <!-- If older than today hide content -->
    {{ $time := (.Params.event_time | time.AsTime).Unix }} {{ if lt now.Unix
    $time }}



    <a class="carousel__link" href="{{ .RelPermalink }}">
      <div class="carousel__slide carousel__flex">
        <div class="carousel__left">
          <div class="carousel__title">
            <h1>{{ .Title }}</h1>
          </div>
          {{ $image := resources.Get .Params.cover }} {{ $image := $image.Fill
          "500x260 top" }}
          <img src="{{ $image.RelPermalink }}" alt="" />
        </div>
        <div class="carousel__right">
          <div class="carousel__event">
            <div class="carousel__event_desc">{{ .Description }}</div>
            <div class="carousel__event_date">
              {{ .Params.event_time | time.Format ":date_medium" }}
            </div>
            <div class="carousel__event_place">{{ .Params.lieu }}</div>
            <div class="carousel__event_time">
              {{ .Params.event_time | time.Format ":time_short" }}
            </div>
          </div>
        </div>
      </div>
    </a>
    {{ end }} {{ end }}
  </div>
</div>
