<footer>
  <div class="footer">
    <a href="https://twitter.com/MJC_Morlaix"
      ><i class="fa fa-twitter" aria-hidden="true"
        ><span class="sr-only">Twitter</span></i
      ></a
    >
    <a href="https://www.instagram.com/mjcmorlaix/">
      <i class="fa fa-instagram" aria-hidden="true"
        ><span class="sr-only">Instagram</span></i
      >
    </a>
    {{ .Site.Copyright }} {{ $legals := .Site.GetPage "mentions-legales" }}<a
      href="{{ $legals.Permalink }}"
      >Mentions légales</a
    >
    <div id="accessibility" class="accessibility">
      <div
        id="accessconfig"
        data-accessconfig-buttonname="Paramètres d’accessibilité"
        data-accessconfig-params='{ "Prefix" : "a42-ac", "ContainerClass" : "","ModalCloseButton" :
      "","ModalTitle" : "","FormFieldset" : "","FormFieldsetLegend" : "","FormRadio" : "", "ImageReplacement":
    false}'
      ></div>
    </div>
  </div>
</footer>
