<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="La Maison des Jeunes et de la Culture de Morlaix, association agréée
	      jeunesse et éducation populaire, propose spectacles et activités culturelles" />
  <link rel="stylesheet" type="text/css" href="/slick/slick.min.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/slick/accessible-slick-theme.min.css"
  />
  {{ $sass := resources.Get "scss/main.scss" }} {{ $style := $sass |
  resources.ToCSS (dict "enableSourceMap" true) | resources.Fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $style.Permalink }}"
    integrity="{{ $style.Data.Integrity }}"
  />
  <link rel="preload" href="/images/button-contact-hover.png" as="image" />
  <link rel="preload" href="/images/button-podcast-hover.png" as="image" />
  <link rel="preload" href="/images/button-doc-hover.png" as="image" />
  <link
    rel="stylesheet"
    href="/accessconfig/css/accessconfig.min.css"
    type="text/css"
    media="screen"
  />
  {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title =
  .Site.Title }}{{ end }} {{ partial "favicon.html" . }}
  <title>{{ $title }}</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script
    src="/accessconfig/js/accessconfig.min.js"
    type="text/javascript"
  ></script>
</head>
